@import url(https://db.onlinewebfonts.com/c/8d3b1bebb7ffe62f42ccdaa235f2a97f?family=Circular+Spotify+Text+Medium);

* {
  margin: 0;
  padding: 0;

  font-family: "Circular Spotify Text Medium";
}

body {
  background-color: #E55812;
}

.left {
  width: 25vw;
}

.right {
  width: 75vw;
}

.navbar {}

.navbar img {
  height: 2.5rem;
  width: 2.5rem;

}

.leftnav {
  width: 50vw;
  padding: 1rem;
  align-items: center;

}

.circle {
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #eb7438;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  margin-left: 2.5rem;
  background-image: url("home.svg");
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-position: center;
}


.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 14rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  padding: 0 3rem;
  margin-left: 0.5rem;
  background-color: #eb7438;
}

.search .si1 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  left: 0.8rem;
}

.search .si2{
  position: absolute;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  right: 0.8rem;
}
.search input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  
}

.search p {
  right: 2rem;
  position: absolute;
}


.search input::placeholder {
  color: #ffffff; /* choose any color */
 opacity: 0.7;
}


.rightnav {
  flex: 1;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.rightnav ul {
  align-items: center; 

}
.rightnav ul li{
  list-style: none;
  
}

.rightnav img{
  width: 1.1rem;
  height:  1.1rem;;
  margin: 0 0 0 0.8rem;
  margin-right: 0.2rem;
}

.relement{
  position: absolute;
  right: 1rem;
}

.relement1{
  align-items: center;
  gap: 1rem;
}

.relement2{
  align-items: center;
  
}
.relement2 p{
  cursor: pointer;
  margin-right: 1rem;
}


.loginbtn{
  color: #ffffff;
  font-size: 1rem;
  /* font-weight: bold; */
  height: 2.5rem;
  width: 4rem;
  background-color: #eb7438;
  border-radius: 2rem;
border: none;
cursor: pointer;
}

.loginbtn:hover {
  transform: scale(1.1);
  /* 10% bigger */
  background-color: #8a3003;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s, font-weight 0.2s;
}

.signupbtn:hover {
  transform: scale(1.1);
  /* 10% bigger */
  color: white;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s, font-weight 0.2s, color 0.2s;
}

.signupbtn{
  color: #000000;
  background-color:#E55812;
  outline: none;
  font-size: 1rem;
  /* font-size: 1rem; */
  margin-right: 0.5rem;
  cursor: pointer;
  border: none;
}

.leftlib {
  position: relative;
  background-color: #eb7438;
  height: 80vh;
  width: 24vw;
  top: 0.2rem;
  right: 0.1rem;
  left: 0.4rem;
}

.spotifyPlaylist{
  padding: 1rem;
}

.righthero {
  position: relative;
  left: 0.8rem;
  background-color: #eb7438;
  max-height: 79vh;
  width: 70vw;
  top: 0.2rem;
  right: 0.5rem;
  padding: 1rem;
}

.cardContainer{
max-height: 70vh;
 overflow-y: scroll;
gap: 1.5rem;
margin: 1rem 0 1rem 1rem;
flex-wrap: wrap;
}

.cardContainer::-webkit-scrollbar {
  width: 8px;             /* width of the scrollbar */
}

.cardContainer::-webkit-scrollbar-track {
  background: #f1f1f1;    /* track color */
  border-radius: 4px;
}

/* Scrollbar thumb */
.cardContainer::-webkit-scrollbar-thumb {
  background:  #f29b6f;   /* thumb color */
  border-radius: 4px;
}

/* Scrollbar thumb hover */
.cardContainer::-webkit-scrollbar-thumb:hover {
  background: #8a3003;
}
.card {
  position: relative;
  width: 9rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #f29b6f;
  

}

.card img{
  width: 100%;
  object-fit: contain;
}

.play{
  position: absolute;
    right: 1.2rem;
    bottom: 0rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, bottom 0.6s ease-in-out ;
    cursor: pointer;
}
.card:hover .play{
  opacity: 1;
  bottom: 7.9rem;
}

.playbar{
  position: absolute;
  height: 1rem;
  bottom: 1rem;
  padding: 1rem;
  width: 88%;
  background-color: #8a3003;
  
}
.song{
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.song img{
  height: 2rem;
  width: 2rem;
  
  filter: invert(1);
}
#play{
cursor: pointer;
}

#play:hover{
 transform: scale(1.1);
 transition: transform 0.2s; 
}
.footer {
  position: absolute;
  bottom: 1rem;
  display: flex;
  font-size: 0.5rem;
  gap: 1rem;
  width: 23vw;

}

.footer a {
  color: white;
}

