.border{
   border:  2px solid red;
}

.flex{
    display: flex;
}

.jcenter{
    justify-content: center;
}

.icenter{
    align-items: center;
}

.round{
    border-radius: 0.3rem;
}

.invert{
    filter: invert(1);
}

.p-1{
    padding: 0.8rem;
}

